body {
  font-family: 'Patua One', cursive;
  background: #f2f2f2;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
div.login-wrapper {
  background:#33c0e8;
  width: 100%;
}
div.login-container {
  width: 960px;
  margin: auto;
}
div.form {
  float: right;
}
div.form h1 {
  margin: 0;
  margin-top: 10px;
}
input.login-inputs {
  color: #ccc;
  padding: 10px;
  width: 200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 2px #808080;
  -webkit-box-shadow: inset 0px 1px 2px #808080;
  box-shadow: inset 0px 1px 2px #808080;
  border: 0;
  font-size: 18px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0 );
  text-shadow: 2px 2px #fff;
}
.login-btn {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(44%, #a1d54f), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  border: 0;
  font-family: 'Patua One', cursive;
  width: 100%;
  cursor: pointer;
}
.create-account-link {
  float: left;
  margin-top: 10px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
}
.or-spacer {
  font-size: 18px;
  color: #999;
  padding: 15px 10px;
}
.button-container {
  margin: 40px 0;
}
.header_wrapper {
  background: #000;
  width: 100%;
}
.header {
  background: #000;
  width: 960px;
  margin: auto;
  position: relative;
}
h1.logo {
  padding: 5px;
  float: left;
  font-family: 'Patua One', cursive;
  font-size: 25px;
  margin: 0;

}
h1.logo a {
  color: #fff;
  text-decoration: none;
}
a.login-text {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Patua One', cursive;
  padding: 5px 10px;
  text-decoration: none;
}
.module-wrapper {width: 100%;}
.module-wrapper .module-container {width: 400px; margin: 5em auto;border: 1px solid #000;background: #333;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;-moz-box-shadow: 1px 2px 5px #6e6e6e; -webkit-box-shadow: 1px 2px 5px #6e6e6e; box-shadow: 1px 2px 5px #6e6e6e;}
.module-wrapper .module-container .padding {padding: 20px;}
.module-wrapper .module-container .padding input[type="text"] {width: 100%; height: 30px; border: 1px solid #000;-moz-box-shadow:inset 1px 1px 3px #6e6e6e;
-webkit-box-shadow:inset 1px 1px 3px #6e6e6e;
box-shadow:inset 1px 1px 3px #6e6e6e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.module-wrapper .module-container .padding label {font-size: 22px; color: #fff;}
.module-wrapper .module-container .padding .row {padding: 0 0 10px 0;}

input[type='submit'].submit {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(44%, #a1d54f), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  border: 0;
  font-family: 'Patua One', cursive;
  width: 100%;
  cursor: pointer;
}