body {
  font-family: 'Patua One', cursive;
  background: url('../images/background-image.png')no-repeat 50% 0;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
div.login-wrapper {
  background:#33c0e8;
  width: 100%;
}
div.login-container {
  width: 960px;
  margin: auto;
}
div.form h1 {
  margin: 0;
  margin-top: 10px;
}
input.login-inputs {
  color: #ccc;
  padding: 10px;
  width: 200px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 2px #808080;
  -webkit-box-shadow: inset 0px 1px 2px #808080;
  box-shadow: inset 0px 1px 2px #808080;
  border: 0;
  font-size: 18px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0 );
  text-shadow: 2px 2px #fff;
}
.login-btn {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(44%, #a1d54f), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  border: 0;
  font-family: 'Patua One', cursive;
  width: 100%;
  cursor: pointer;
}
.create-account-link {
  float: left;
  margin-top: 10px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
}
.or-spacer {
  font-size: 18px;
  color: #999;
  padding: 15px 10px;
}
.button-container {
  margin: 40px 0;
}
.header_wrapper {
  background: #000;
  width: 100%;
}
.header {
  background: #000;
  width: 960px;
  margin: auto;
  position: relative;
}
h1.logo {
  padding: 5px;
  float: left;
  font-family: 'Patua One', cursive;
  font-size: 25px;
  margin: 0;

}
h1.logo a {
  color: #fff;
  text-decoration: none;
}
a.login-text {
  color: #A1D54F;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Patua One', cursive;
  padding: 5px 10px;
  text-decoration: none;
}
.module-wrapper {width: 100%;}
.module-wrapper .module-container {width: 400px; margin: 0 auto;border: 1px solid #000;background: #000;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;-moz-box-shadow: 1px 2px 5px #e5e5e5; -webkit-box-shadow: 1px 2px 5px #e5e5e5; box-shadow: 1px 2px 5px #e5e5e5;}
.module-wrapper .module-container .padding {padding: 10px;}
.module-wrapper .module-container .padding input[type="text"], .module-wrapper .module-container .padding input[type="password"] {background: #eff7fc;
background: -moz-linear-gradient(top,  #eff7fc 0%, #ffffff 37%, #ffffff 51%, #ffffff 64%, #eff7fc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff7fc), color-stop(37%,#ffffff), color-stop(51%,#ffffff), color-stop(64%,#ffffff), color-stop(100%,#eff7fc));
background: -webkit-linear-gradient(top,  #eff7fc 0%,#ffffff 37%,#ffffff 51%,#ffffff 64%,#eff7fc 100%);
background: -o-linear-gradient(top,  #eff7fc 0%,#ffffff 37%,#ffffff 51%,#ffffff 64%,#eff7fc 100%);
background: -ms-linear-gradient(top,  #eff7fc 0%,#ffffff 37%,#ffffff 51%,#ffffff 64%,#eff7fc 100%);
background: linear-gradient(to bottom,  #eff7fc 0%,#ffffff 37%,#ffffff 51%,#ffffff 64%,#eff7fc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff7fc', endColorstr='#eff7fc',GradientType=0 );
font-size: 18px;color: #ccc; text-indent: 10px; width: 100%; height: 30px; border: 1px solid #000;-moz-box-shadow:inset 1px 1px 3px #6e6e6e;
-webkit-box-shadow:inset 1px 1px 3px #6e6e6e;
box-shadow:inset 1px 1px 3px #6e6e6e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.module-wrapper .module-container .padding label {font-size: 22px; color: #fff;}
.module-wrapper .module-container .padding .row {padding: 0;}


input[type='submit'].submit {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(44%, #a1d54f), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%, #a1d54f 44%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  border: 0;
  font-family: 'Patua One', cursive;
  width: 100%;
  cursor: pointer;
  border: 1px solid #a1d54f;
  margin-bottom: 0;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}
.register.submit a.submit {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #49c0f0;
  background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3));
  background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 10px 7px 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  border: 0;
  font-family: 'Patua One', cursive;
  width: 100%;
  cursor: pointer;
  border: 1px solid #2cafe3;
  margin-bottom: 0;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 94%;
}
.title-wrapper {width: 400px; margin: auto; margin-top: 50px; }
.page-title {font-size: 36px; margin-bottom: 10px;}
.hint.login a {color:#fff; text-decoration: none;}
.required {color: #09f;}
.errorMessage {color: #09f;}
.rememberMe {margin-top: 10px;}
.rememberMe label {font-size: 14px !important;}
.container {margin-top: 20px; position: relative;}
.authoring-info {position: absolute; right: 5px; top: 36px; background: #49C0F0 ; padding: 10px; z-index: 999; -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;}
.authoring-info ul {margin: 0; padding: 0;}
.authoring-info ul li {list-style-type: none;}
.authoring-info ul li a {text-decoration: none; color: #12609B;}
.authoring-info ul li a:hover {color: #000;}

table.default {background: #fff; border: 1px solid #ccc;-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; overflow: hidden;}
table.default thead {
background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
color: #fff;
}
table.default thead tr {}
table.default thead tr td {padding: 10px}
table.default tbody {}
table.default tbody tr {}
table.default tbody tr:nth-child(even) {background: #fff;}
table.default tbody tr:nth-child(odd) {background: #f2f2f2;}
table.default tbody tr td {padding: 10px;}
table.default tbody tr td.title {background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
color: #fff; width: 105px;}
#content-2-col {}

.left_col {float: left; margin-right: 10px; width: 250px; background: #333; padding: 10px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;}
#event_right_col {float: right; width: 645px;}

#event_right_col .event-list {margin-bottom: 10px; padding: 10px; background: #fff;-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;}
#event_right_col .summary {display: none;}

.default-btn {
  -moz-box-shadow: 0px 1px 1px #000000;
  -webkit-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  background: #49c0f0;
  background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3));
  background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%);
  background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 );
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px #006ba0;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #2cafe3;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
}
.default-btn:hover {color: #fff;}

.two-col-wrapper-container {background: #000; border: 1px solid #000; padding: 10px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}

.logo-pad {color: #A1D54F ;}

.edit-prof-icon {float: left; margin-right: 5px; padding: 22px 22px; background: url('../images/edit-profile-img-icon.png')0 0 no-repeat}
.edit-profile-icon {float: left; margin-right: 5px; padding: 22px 22px; background: url('../images/edit-profile-icon.png')0 0 no-repeat}
.account-settings-icon {float: left; margin-right: 5px; padding: 22px 22px; background: url('../images/edit-account-settings-icon.png')0 0 no-repeat}
.event-list h3 {font-size: 22px; margin-bottom: 10px; color: #49C0F0;}
.event-list b {font-size: 14px;}
.success {color: #A1D54F;}